flask==2.2.5
flask-restful
flask-migrate==3.1.0
pymysql
gunicorn
marshmallow
flask_marshmallow

# peewee 関連
peewee==3.14.4
Marshmallow-Peewee
flask-peewee

# ERROR [flask_migrate] Error: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods
# が出るから入れる
cryptography
